<div id="post-content" class="mdl-color-text--grey-700 mdl-card__supporting-text fade out">
    <% if(theme.scheme === 'Paradox') { %>
        <script async type="text/javascript" src="//cdn.carbonads.com/carbon.js?serve=CE7DP27M&placement=abnerchoume" id="_carbonads_js"></script>
        <%- page.content %>
    <% } %>

    <% if(theme.scheme === 'Isolation') { %>
        <div class="post-content_wrapper">
            <p class="post-title">
                <%- page.title %>
            </p>
            <script async type="text/javascript" src="//cdn.carbonads.com/carbon.js?serve=CE7DP27M&placement=abnerchoume" id="_carbonads_js"></script>
            <%- page.content %>
        </div>
    <% } %>
</div>
